/* **********Reset********** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*#root, #__next {
    isolation: isolate;
  } */

/* **********Fin Reset********** */

body {
  font-family: roboto;
  background-color: beige
}

h1 {
  text-align: center;
  font-weight: 300;
}

hr {
  border-bottom: 0.5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}